@charset "utf-8";
// ============================
// 共通パーツ読み込み
// ============================
@import "_core";

// ============================
// 共通要素
// ============================
/*==============================
共通要素
==============================*/
.wrap {
	@include wrap;
	@extend %extend-cf;
}
// ============================
// l-titlebar
// ============================
/*==============================
タイトルバー
==============================*/
.l-titlebar {
	width:100%;
	height:25px;
	background:#b01f24;
	h1 {
		@include wrap;
		font-size:10px;
		line-height:25px;
		color:#fff;
	}
}

h2{
    padding: 0 0 30px;
}
h3{
    padding: 0 0 15px;
}
h4{
    padding: 0 0 20px;
}
p{
    font-size: 14px;
    line-height: 24px;
    color: #2b2b2b;
    letter-spacing: -0.9px;
}
// ============================
// l-header
// ============================
/*==============================
ヘッダー
==============================*/
.l-header {
	width:100%;
	height:113px;
	background:#fdfdfd;
	.header-logo {
		float:left;
	}
	.header-logo {
		margin:10px 0 0 0;
		}

	.header-btn {
		float:right;
		.header-list {
			padding:15px 0 0 15px;
			li {
				margin:0 0 0 15px;
			}
		}
	}
}

// ============================
// l-mv
// ============================
/*==============================
メインビジュアル
==============================*/
.l-mv {
	width:100%;
	background:url(assets/img/top/top_mv_bg.png);
	padding:15px 0;
	.mv-main {
		float:left;
	}
	.mv-side {
		float:right;
		.mv-side-list {
			li {
				margin:0 0 10px 0;
			}
		}
	}
}

// ============================
// l-navi
// ============================
/*==============================
グローバルナビ
==============================*/
.l-navi {
	width:100%;
	height:47px;
	background:url(assets/img/layout/navi/navi_bg.png);
	.navi-list {
		@include wrap;
		li {
			height:45px;
		}
	}
}

// ============================
// l-contents
// ============================
/*==============================
コンテンツ
==============================*/
.l-contents {
	@include wrap;
	@extend %extend-cf;
	padding:20px 0 0 0;
	.l-main {
		float:right;
		width:780px;
	}
	.l-side {
		float:left;
		width:200px;
	}
    .l-breadcrumb{
        padding: 0 0 15px;
        color: #333333;
        font-size: 14px;
        a{
            color: #004986;
        }
    }

    .l-breadcrumb{
        padding: 0 0 15px;
        color: #333333;
        font-size: 14px;
        a{
            color: #004986;
        }
    }
}

/*==============================
03_専門店の強み_銀次様 strong.html
==============================*/
.l-rinen{
    padding: 0 0 40px;
}
.l-strong-contents{
    padding: 0 0 50px;
    .red{
        font-weight: bold;
        color:#b01f24;
    }
    .infobox{
        padding: 0 0 50px;
        @extend %extend-cf;
        .infobox-thumb{
            float: left;
            width: 232px;
            padding: 0 21px 0 0;

                font-size: 0;
            img:nth-child(n+1){
                padding: 0 0 15px;
            }
            img:last-child{
                padding: 0;
            }
        }
        .infobox-text{
            float: right;
            width: 527px;
        }
    }
    .strong-certificate{
        padding: 40px 0 30px;
        text-align: center;
    }
}

// ============================
// l-side
// ============================
/*==============================
サイドバー
==============================*/
.l-side {
	min-height:4425px;
	background:url(assets/img/layout/side/side_bg.png) repeat;
	img {
		display:block;
		line-height:1;
	}
	.side-list-top {
		padding:0 0 5px;
		background:#fff;
		border-bottom:1px dashed #0d0d0d;
		li {
			margin:0 0 15px;
		}
	}
	.side-navi-list {
		padding:20px 0 10px 0;
		background:#fff;
		border-bottom:1px dashed #0d0d0d;
		li {
			margin:0 0 10px 0;
		}
	}
	.side-list-bottom {
		padding:20px 0 0 0;
		background:#fff;
		li {
			margin:0 0 15px 0;
		}
	}
}

// ============================
// l-footer
// ============================
/*==============================
フッター
==============================*/
.l-footer {
	width:100%;
	padding:35px 0;
	color:#fff;
	background:#ab1b20 ;
	.l-footer-left {
		float:left;
		width:440px;
		.footer-logo {
			margin:0 0 20px 0;
		}
		.footer-address {
			margin:0 0 25px 0;
			font-size:12px;
			line-height:16px;
		}
		.footer-banner {
			margin:0 0 10px 0;
			.banner-copy{
				margin:0 0 2px 4px;
			}
			.banner-a {
				float:left;
				margin:0 10px 0 0;
			}
		}
		.footer-copyright {
			font-size:11px;
		}
	}
	.l-footer-right {
		float:right;
		width:560px;
		.footer-navi-box {
			float:left;
			padding:0 30px 0 10px;
			border-left:1px solid #b48f92;
			.footer-navi-list {
				li {
					font-size:14px;
					margin:0 0 10px 0;
					&:before {
						content:">";
						margin:0 5px 0 0;
					}
				}
			}
			.footer-bold-list {
				li {
					font-weight:bold;
				}
			}
		}
	}
}
// ============================
// top
// ============================
/*==============================
トップページ
==============================*/
.top-headline {
	margin:0 0 25px 0;
	.column {
		padding:10px 20px 0 20px;
		font-size:14px;
		line-height:2;
	}
}
.l-top-catch {
	padding:0 0 45px 0;
	.top-catch-box {
		p {
			margin:20px 0 25px 0;
			font-size:14px;
			line-height:25px;
		}
		.top-catch-photo {
			float:right;
			display:inline;
			margin:0 0 0 40px;
		}
	}
}
.l-top-news {
	padding:0 0 80px 0;
	.top-news-list {
		li {
			font-size:16px;
			padding:10px 0;
			border-bottom :2px dotted #808080;
			&:first-child {
				padding:0 0 10px 0;
			}
			.category {
				display:inline-block;
				vertical-align:bottom;
				padding:4px 12px;
				margin:0 0 0 10px;
				font-size:12px;
				color:#fff;
			}
			.category-blog {
				background:#7e2231;
			}
			.category-column {
				background:#aa6f21;
			}
			.title {
				margin:0 0 0 10px;
				color:#253059;
			}
			a {
				text-decoration:none;
				&:hover {
					text-decoration:underline;
				}
			}
		}
	}
}
.l-top-belief {
	padding:0 0 20px 0;
	img {
		display:block;
		line-height:1;
	}
}
.l-top-voice {
	.shop-image{
		margin:0 0 30px 0;
	}
	.voice-list {
		width:810px;
		li {
			margin:0 30px 30px 0;
			width:240px;
			.voice-head {
				padding:10px 0;
				margin:0 0 10px 0;
				font-size:14px;
				text-align:center;
				color:#FFF;
				background:#823333;
				
			}
			.voice-photo {
				img {
					display:block;
					line-height:1;
				}
			}
			.voice-detail {
				padding:10px;
				background:#f0f0f0;
				.text {
					margin:0 0 10px 0;
					font-size:14px;
					line-height:20px;
				}
				.condition {
					margin:0 0 5px 0;
					font-size:12px;
				}
				.name {
					font-size:12px;
				}
			}
		}
	}
	.top-voice-btn {
		display:table;
		margin:0 auto;
	}
}
.l-top-works {
	padding:0 0 10px 0;
	.works-list {
		width:810px;
		li {
			margin:0 30px 30px 0;
			width:240px;
			.works-head {
				padding:5px 0;
				text-align:center;
				font-weight:bold;
				border:3px solid #f0f0f0;
			}
			.works-photo {
				img {
					display:block;
					line-height:1;
				}
			}
			.works-detail {
				padding:10px;
				background:#f0f0f0;
				font-size:14px;
				line-height:18px;
			}
		}
	}
	.top-works-btn {
		display:table;
		margin:0 auto;
	}
}
.l-main-foot {
    padding: 0 0 65px;
	.foot-banner-tel {
		display:table;
		margin:0 auto 30px auto;
	}
	.foot-banner {
		display:table;
		margin:0 auto;
	}
	.foot-list {
		padding:25px 0 60px 0;
		li {
			float:left;
			margin:0 20px 0 0;
		}
		li:last-child {
			margin:0;
		}
	}
}
