@charset "utf-8";
// ============================
// 共通パーツ読み込み
// ============================
@import "_core";

// ============================
// 共通要素
// ============================
/*==============================
共通要素
==============================*/
.wrap {
	@include wrap;
	@extend %extend-cf;
}
// ============================
// l-titlebar
// ============================
/*==============================
タイトルバー
==============================*/
.l-titlebar {
	width:100%;
	height:25px;
	background:#b01f24;
	h1 {
		@include wrap;
		font-size:10px;
		line-height:25px;
		color:#fff;
	}
}


// ============================
// l-header
// ============================
/*==============================
ヘッダー
==============================*/
.l-header {
	width:100%;
	height:113px;
	background:#fdfdfd;
	.header-logo {
		float:left;
	}
	.header-logo {
		margin:10px 0 0 0;
		}

	.header-btn {
		float:right;
		.header-list {
			padding:15px 0 0 15px;
			li {
				margin:0 0 0 15px;
			}
		}
	}
}

// ============================
// l-mv
// ============================
/*==============================
メインビジュアル
==============================*/
.l-mv {
	width:100%;
	background:url(assets/img/top/top_mv_bg.png);
	padding:15px 0;
	.mv-main {
		float:left;
	}
	.mv-side {
		float:right;
		.mv-side-list {
			li {
				margin:0 0 10px 0;
			}
		}
	}
}

// ============================
// l-navi
// ============================
/*==============================
グローバルナビ
==============================*/
.l-navi {
	width:100%;
	height:47px;
	background:url(assets/img/layout/navi/navi_bg.png);
	.navi-list {
		@include wrap;
		li {
			height:45px;
		}
	}
}

// ============================
// l-contents
// ============================
/*==============================
コンテンツ
==============================*/
.l-contents {
	@include wrap;
	@extend %extend-cf;
	padding:20px 0 0 0;
	.l-main {
		float:right;
		width:780px;
	}
	.l-side {
		float:left;
		width:200px;
	}
    .l-breadcrumb{
        padding: 0 0 10px;
        color: #333333;
        font-size: 14px;
        a{
            color: #e8340c;
        }
    }
}

/*==============================
03_専門店の強み_銀次様 strong.html
==============================*/
.page-strong, page-introduce{
    h2{
        padding: 0 0 30px;
    }
    h3{
        padding: 0 0 15px;
    }
    h4{
        padding: 0 0 20px;
    }
}
.l-rinen{
    padding: 0 0 40px;
}
.l-strong-contents{
    padding: 0 0 50px;
    p{
        font-size: 14px;
        line-height: 24px;
        color: #2b2b2b;
        letter-spacing: -0.9px;
    }
    .red{
        font-weight: bold;
        color:#b01f24;
    }
    .infobox{
        padding: 0 0 50px;
        @extend %extend-cf;
        .infobox-thumb{
            float: left;
            width: 232px;
            padding: 0 21px 0 0;
            font-size: 0;
            img:nth-child(n+1){
                padding: 0 0 15px;
            }
            img:last-child{
                padding: 0;
            }
        }
        .infobox-text{
            float: right;
            width: 527px;
        }
    }
    .strong-certificate{
        padding: 40px 0 30px;
        text-align: center;
    }
}

/*==============================
04_職人紹介_銀次様 introduce.html
==============================*/
.l-introduce{
    padding: 0 0 115px;
    .intro-box{
        @extend %extend-cf;
        padding: 0 0 55px;
        .intro-box-thumb{
            float: left;
            font-size: 0;
            width: 200px;
            padding: 0 20px 0 0;
            img:nth-child(n+1){
                padding: 0 0 15px 0;
            }
            img:last-child{
                padding: 0;
            }
        }
        .intro-box-table{
            float: right;
            width: 560px;
            th, td{
                border: 1px solid #000;
                padding: 15px 0 15px 0;
                font-size: 17px;
                line-height: 25px;
                letter-spacing: -0.6px;
                color: #333333;
            }
            th{
                width: 210px;
                background: #f7f7f7;
                text-align: center;
            }
            td{
                width: 340px;
                padding: 15px 0 15px 10px;
            }

        }
    }
}

/* ============================
 05_sekounonagare (flow.html)
 ============================*/
.l-flow-contents{
    padding: 0 0 65px;
    h2{
        font-size: 0;
    }
    h3{
        padding: 33px 0 30px
    }
    p{
        font-size: 14px;
        line-height: 20px;
        color: #434343;
        letter-spacing: -1px;
        &.headline{
            font-weight: bold;
        }
    }
    .flowbox{
        @extend %extend-cf;
        padding: 0 0 17px;
        .flowbox-thumb{
            float: left;
            font-size: 0;
            width: 345px;
            padding: 0 30px 0 0;
        }
        .flowbox-text{
            float: left;
            width: 405px;
        }
    }
    .flow-emotion{
        padding: 53px 0 0;
        text-align: center;
    }
}

/* ============================
 06_okyakusamanokoe (voice.html)
// ============================*/
.l-voice{
    .voice-message{
        padding: 30px 0 60px;
        text-align: center;
    }
    .pagination{
        padding: 0 0 75px;
        text-align: right;
        li{
            display: inline;
            padding: 0 0 0 10px;
            a{
                color: #e8340c;
            }
            &.arrow a{
                text-decoration: none;
            }
        }
    }
}
/* ========================================
 single-voice.html 06_お客様が語る塗替銀次
 ========================================*/
.l-single-voice{
    margin-bottom: 58px;
    h2{
        padding: 0 0 30px;
    }
    h3{
        padding: 0 0 15px;
    }
    .single-voice-head{
        margin-top: -3px;
        margin-bottom: 10px;
    }
    p{
        font-size: 14px;
        color: #474343;
        line-height: 25px;
    }
   .single-voice-pic{
       margin: 22px 0 0;
       li{
           float: left;
           padding: 0 0 20px;
           &:nth-child(2n){
               float:right;
            }
       }
   }
    .single-voice-box{
        @extend %extend-cf;
        .single-voice-box-thumb{
            float: left;
            width: 380px;
        }
        .single-vocie-box-text{
            float: right;
            width: 380px;
            padding: 0 0 0 20px;
        }
    }
    .photo-mix {
        margin-top: 74px;
        text-align: center;
    }
}
/*==============================
 07_sekoutaku (works.html)
// ============================*/
.l-works{
    @extend .l-voice;
    .works-message{
        @extend .voice-message;
    }
}

/*==============================
single-works 07_ご近所の施工宅
==============================*/
.l-single-works{
    margin-bottom: 53px;
    h2{
        padding: 0 0 30px;
    }
    h3{
        padding: 0 0 23px;
    }
    .single-works-head{
        margin-bottom: 39px;
    }
    .single-works-text-right{
        float: right;
        margin-bottom: 39px;
        p{
            font-size: 14px;
            color: #720f10;
        }
    }
    .single-works-pic{
        margin-bottom: 23px;
    }
    .single-works-box{
        @extend %extend-cf;
        margin-bottom: 22px;
       .single-works-thumb{
            float: left;
            width: 345px;
        }
        .single-works-text{
            float: right;
            width: 410px;
            padding: 0 0 0 25px;
            p{
                font-size: 14px;
                color: #434343;
                line-height: 20px;
            }
        }
    }
    .single-works-footer{
        p{
            font-size: 14px;
            color: #333333;
            line-height: 28px;
        }
        .single-works-btn{
            text-align: center;
            margin: 74px 0 55px;
        }
        .back-page{
            text-align: center;
            font-size: 14px;
            a{
                color: #004986;
            }
        }
    }
}
//=================================
// 08_media メディア掲載 (media.html)
//=================================
.l-media{
    margin:0 0 115px;
    h2{
        margin: 0 0 25px;
    }
    .media-text{
        font-size: 12px;
        line-height: 22px;
        font-weight: bold;
        font-family: Meiryo;
        margin: 0 0 30px;
        color: #434343;
    }
    .media-box{
        @extend %extend-cf;
        margin: 0 0 40px;
        .media-box-thumb{
            float: left;
            width: 345px;
            padding: 0 20px 0 0;
        }
        .media-box-text{
            float: right;
            width: 410px;
            >p{
                font-size: 14px;
                line-height: 20px;
                color: #434343;
            }
            .media-title{
                margin: 12px 0 0;
                font-size: 12px;
                line-height: 20px;
            }
        }
    }
}
//=============================================
// 09_hosyou 塗替銀次の保証 (wanranty.html) + blog
//=============================================
.l-wanranty{
    margin: 0 0 65px;
    h2{
       margin: 0 0 25px;
    }
    .wanranty-head{
        margin: 0 0 20px;
        @extend %extend-cf;
        .wanranty-head-text{
            float: left;
            width: 535px;
            >p{
                font-size: 14px;
                line-height: 22px;
                font-family: Meiryo;
                color: #434343;
                margin: 0 0 22px;
            }
        }
        img{
            float: right;
        }
    }
    .warranty-contents{
        line-height: 20px;
        font-size: 14px;
        color: #434343;
        dt{
            padding: 0 0 0 23px;
        }
        dd{
            padding: 15px 0 38px 100px;
            &:last-child{
                padding: 15px 0 0 100px;
            }
        }
    }
}
// ============================
// 10_専門家コラム (column.html)
// ============================
.l-column{
    font-size: 14px;
    h2{
        padding: 0 0 27px;
    }
    h3{
        padding: 0 0 17px;
    }
    h4{
        padding: 0 0 20px;
    }
    .columnbox{
        @extend %extend-cf;
        margin: 0 0 30px 0;
    }
    .columnbox-thumb{
        width: 162px;
        float: left;
    }
    .columnbox-text{
        width: 618px;
        float: left;
        color: #333333;
        p{
            line-height: 20px;
            width: 618px;
            padding: 8px 0 0 0;
            &.date{
                font-weight: bold;
                color: #333333;
                padding: 0 0 3px 0;
                border-bottom: 2px solid #b5b5b5;
            }
        }
        .read-more{
            text-align: right;
            padding: 3px;
            a{
                color: #e8340c;
                font-weight: bold;
            }
        }
    }
    .pagination{
        padding: 27px 0 90px 0;
        ul{
            text-align: center;
            li{
                display: inline-block;
                padding: 0 0 0 14px;
                a{
                    color: #e8340c;
                }
            }
        }
    }
}
.l-blog{
    @extend .l-column;
}

/*==============================
13_single-blog (single-blog.html)
==============================*/
.l-single-blog{
    padding: 0 0 80px 0;
    @extend %extend-cf;
    h2{
       padding: 0 0 31px 0;
    }
    h3{
        padding: 0 0 1px;
    }
    p{
        font-size: 14px;
        line-height: 1.857;
        color: #2b2b2b;
        letter-spacing: 0px;
        display: block;
        margin: 0 0 29px 0;
    }
    .date{
        width: 100%;
        border-bottom: 2px solid #b5b5b5;
        padding: 0 0 4px 0;
        font-size: 18px;
        font-weight: bold;
        color: #000;
        margin: 0 0 9px 0;
        letter-spacing: 0.1px;
    }
    .single-blog-box{
        @extend %extend-cf;
        .single-blog-box-text{
            width: 520px;
            float: left;
        }
        .single-blog-box-thumb{
            padding: 0 0 0 20px;
            float: right;
            width: 240px;
        }
    }
    .blog-navi{
        margin: 25px 0 0;
        text-align: center;
        font-size: 14px;
        color: #626262;
           li{
            display: inline;
            padding: 0 80px 0 0;
            letter-spacing: -1px;
            &:last-child{
                padding: 0;
            }
            a{
                color: #e8340c;
                font-weight: bold;
            }
         }
    }
}
/*==============================
company
==============================*/
.l-company{
    padding: 0 0 438px 0;
    @extend %extend-cf;
    h2{
       padding: 0 0 27px 0;
    }
    h3{
        padding: 0 0 10px;
    }
    .company-table{
        margin: 0 0 32px 0;
        @extend %extend-cf;
        .date-month{
            float: right;
            margin: 0 17px 0 0;
        }
        table{
            font-size: 12px;
            color: #333333;
            border: 1px solid #a6a6a6;
            border-bottom: none;
            letter-spacing: 1px;
            tr{
                border-bottom: 1px solid #a6a6a6;
                height: 39px;
                th{
                    width: 122px;
                    padding: 0 0 0 16px;
                    line-height: 3.25;
                    background: #e8e8e8;
                    font-weight: bold;
                }
                td{
                    width: 642px;
                    padding: 0 0 0 16px;
                }
            }
        }
    }
}
/*==============================
 ============================
 estimate.html
==============================*/

.l-estimate{
    h2{
        padding: 0 0 27px;
    }
    h3{
        padding: 0 0 10px;
    }
    p{
        font-size: 14px;
        color: #333333;
        margin: 0 0 45px 0;
        line-height: 26px;
        &.notice{
            text-align: right;
            margin: 0 40px 7px 0;
            font-size: 12px;
        }
        &.example{
            padding: 10px 0 0 0;
            margin: 0;
            line-height: 0;
        }
        &.example-2{
            padding: 0 0 10px 0;
            margin: 0;
            line-height: 18px;
        }
        a{
            color:#e91006;
        }
    }
    ul{
        padding: 0 0 20px 0;
        li{
            font-size: 14px;
            color: #333333;
            padding: 6px 0 7px 0;
            &:before{
                content: "◆";
                margin: 0 2px 0 0;
            }
        }
    }
    .estimate-price{
        text-align: center;
        padding: 7px 0 23px;
        img{
            display: inline;
            &:first-child{
                padding: 0 17px 0 0;
            }
        }
    }
    .estimate-map{
        padding: 14px 0 17px 0;
    }
    .message{
        text-align: center;
        padding: 7px 0 11px 0;
    }
    span{
        &.red{
        color: #9c0001;
        font-weight: bold;
    }
        &.wanted-date{
            font-weight: bold;
            padding: 0 12px 0 0;
            color: #333333;
        }
    }
        table{
            font-size: 14px;
            width: 700px;
            margin: 0 auto;
            color: #333333;
            th{
                background: red;
                width: 133px;
                font-weight: bold;
                background: #f7f7f7;
                vertical-align: top;
                line-height: 20px;
            }
            td{
                width: 533px;
        }
            th,td{
                border: 1px solid #7d7d7d;
                padding: 20px 0 20px 15px;
        }

            input[type=radio]{
                margin: 0 0 10px 8px;
            }
            .text1{
                width: 292px;
                height:19px;
                margin: 0 0 5px 0;
            }
            .text2{
                width: 392px;
                height: 19px;
                margin: 0 0 5px 0;
            }
            .text3{
                width: 220px;
                height: 19px;
                margin: 0 0 5px 0;
            }
            .text4{
                width: 473px;
                height: 114px;
            }
    }
    .estimate-btn{
        text-align: center;
        padding: 30px 0 86px 0;
    }
}
// ============================
// l-side
// ============================
/*==============================
サイドバー
==============================*/
.l-side {
	min-height:4425px;
	background:url(assets/img/layout/side/side_bg.png) repeat;
	img {
		display:block;
		line-height:1;
	}
	.side-list-top {
		padding:0 0 5px;
		background:#fff;
		border-bottom:1px dashed #0d0d0d;
		li {
			margin:0 0 15px;
		}
	}
	.side-navi-list {
		padding:20px 0 10px 0;
		background:#fff;
		border-bottom:1px dashed #0d0d0d;
		li {
			margin:0 0 10px 0;
		}
	}
	.side-list-bottom {
		padding:20px 0 0 0;
		background:#fff;
		li {
			margin:0 0 15px 0;
		}
	}
}

// =================================
// l-side-sblog for single-blog.html
// =================================
.l-side-sblog{
    .side-sblog-navi{
        padding:0 0 25px 0;
        color: #720f10;
        font-size: 12px;
		li {
			margin:0 0 12px 0;
            letter-spacing: -0.3px;
            &:first-child{
                padding: 0 0 5px;
            }
            &:nth-child(n+2){
                &:before{
                    content: "・";
                    margin: 0 0 0 6px;
                }
            }
            a{
                color: #720f10;
            }
		}
    }
}

// ============================
// l-footer
// ============================
/*==============================
フッター
==============================*/
.l-footer {
	width:100%;
	padding:35px 0;
	color:#fff;
	background:#ab1b20 ;
	.l-footer-left {
		float:left;
		width:440px;
		.footer-logo {
			margin:0 0 20px 0;
		}
		.footer-address {
			margin:0 0 25px 0;
			font-size:12px;
			line-height:16px;
		}
		.footer-banner {
			margin:0 0 10px 0;
			.banner-copy{
				margin:0 0 2px 4px;
			}
			.banner-a {
				float:left;
				margin:0 10px 0 0;
			}
		}
		.footer-copyright {
			font-size:11px;
		}
	}
	.l-footer-right {
		float:right;
		width:560px;
		.footer-navi-box {
			float:left;
			padding:0 30px 0 10px;
			border-left:1px solid #b48f92;
			.footer-navi-list {
				li {
					font-size:14px;
					margin:0 0 10px 0;
					&:before {
						content:">";
						margin:0 5px 0 0;
					}
				}
			}
			.footer-bold-list {
				li {
					font-weight:bold;
				}
			}
		}
	}
}
// ============================
// top
// ============================
/*==============================
トップページ
==============================*/
.top-headline {
	margin:0 0 25px 0;
	.column {
		padding:10px 20px 0 20px;
		font-size:14px;
		line-height:2;
	}
}
.l-top-catch {
	padding:0 0 45px 0;
	.top-catch-box {
		p {
			margin:20px 0 25px 0;
			font-size:14px;
			line-height:25px;
		}
		.top-catch-photo {
			float:right;
			display:inline;
			margin:0 0 0 40px;
		}
	}
}
.l-top-news {
	padding:0 0 80px 0;
	.top-news-list {
		li {
			font-size:16px;
			padding:10px 0;
			border-bottom :2px dotted #808080;
			&:first-child {
				padding:0 0 10px 0;
			}
			.category {
				display:inline-block;
				vertical-align:bottom;
				padding:4px 12px;
				margin:0 0 0 10px;
				font-size:12px;
				color:#fff;
			}
			.category-blog {
				background:#7e2231;
			}
			.category-column {
				background:#aa6f21;
			}
			.title {
				margin:0 0 0 10px;
				color:#253059;
			}
			a {
				text-decoration:none;
				&:hover {
					text-decoration:underline;
				}
			}
		}
	}
}
.l-top-belief {
	padding:0 0 20px 0;
	img {
		display:block;
		line-height:1;
	}
}
.l-top-voice, .l-voice {
	.shop-image{
		margin:0 0 30px 0;
	}
	.voice-list {
		width:810px;
		li {
			margin:0 30px 30px 0;
			width:240px;
			.voice-head {
				padding:10px 0;
				margin:0 0 10px 0;
				font-size:14px;
				text-align:center;
				color:#FFF;
				background:#823333;
				
			}
			.voice-photo {
				img {
					display:block;
					line-height:1;
				}
			}
			.voice-detail {
				padding:10px;
				background:#f0f0f0;
				.text {
					margin:0 0 10px 0;
					font-size:14px;
					line-height:20px;
				}
				.condition {
					margin:0 0 5px 0;
					font-size:12px;
				}
				.name {
					font-size:12px;
				}
			}
		}
	}
	.top-voice-btn {
		display:table;
		margin:0 auto;
	}
}
.l-top-works, .l-works {
	padding:0 0 10px 0;
	.works-list {
		width:810px;
		li {
			margin:0 30px 30px 0;
			width:240px;
			.works-head {
				padding:5px 0;
				text-align:center;
				font-weight:bold;
				border:3px solid #f0f0f0;
			}
			.works-photo {
				img {
					display:block;
					line-height:1;
				}
			}
			.works-detail {
				padding:10px;
				background:#f0f0f0;
				font-size:14px;
				line-height:18px;
			}
		}
	}
	.top-works-btn {
		display:table;
		margin:0 auto;
	}
}
.l-main-foot {
    padding: 0 0 65px;
	.foot-banner-tel {
		display:table;
		margin:0 auto 30px auto;
	}
	.foot-banner {
		display:table;
		margin:0 auto;
	}
	.foot-list {
		padding:25px 0 60px 0;
		li {
			float:left;
			margin:0 20px 0 0;
		}
		li:last-child {
			margin:0;
		}
	}
}
