@charset "utf-8";
// ============================
// 共通パーツ読み込み
// ============================
@import "_variable";
// ====================================
// extend
// ※先頭にextendをつけること
// ====================================
// クリアフィックス用
%extend-clearfix {
	*zoom: 1;
	&:after {
		content: "";
		display: block;
		clear: both;
		height: 0;
	}
}
// クリアフィックスのエイリアス
// こちらを使ってOK
%extend-cf {
	@extend %extend-clearfix;
}
// クリアフィックス出力用
.cf {
	@extend %extend-clearfix;
}